body{
    background: #F0EFEF;
    color: #666;
    font: 85%/140% Arial,Helvetica,sans-serif;
    margin: 0 auto;
}
a{
    color: #69C;
    text-decoration: none;
}
a:hover{
    color: #F60;
}
h1{
    font: 1.7em;
    line-height: 110%;
    color: #000;
}
h1,h2,h3{
    color: #000;
}
h3{
    border-top: solid 1px #EEE;
    padding: 20px 0;
    margin: 20px 0 0;
    font-size: 150%
}
p{
    margin: 0 0 20px;
    color: #FFF;
}

.img-icon{
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

/*html5 elemen ke block*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}
/*struktur*/
#pagewrap{
    padding: 5px;
    width: 960px;
    margin: 20px auto;
    height: 140px;
}

#nav {
    background:#252525;
}
#nav ul {
    margin:0;
    padding:0;
}
#nav li {
    list-style:none;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    margin:0;
    padding:0;
}
#nav li a {
    display:block;
    text-decoration:none;
    color:white;
    padding:1em;
}
#nav li a:hover {
    color:white;
    background:#F60;
}
.show-menu {
    background: #252525;
    text-decoration: none;
    color: #fff;
    text-align: left;
    padding: 10px 5px;
    display: none;
}
.show-menu b{
    font-size:30px;
}
.show-menu span{
    margin-right: 1em;
    float:right;
}
#nav input[type=checkbox]{
    display: none;
}
#nav input[type=checkbox]:checked ~ #menus {
    display: block;
}


body:before {
  content: "";
  position: fixed;
  z-index: -1;
  background-size:cover;
  background-position:center top;
  display: block;
  background-image: url(../images/project.png);
  width: 100%;
  height: 800px;
  opacity: 0.8;
}

#title {
  text-align:center;}

h1 {
  font-size:50px;
  color:#fff;
  font-weight:bold;
  border:5px #fff solid;
  display:inline-block;
  padding:10px 20px
}

h2 {
  font-size:20px;
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:5px 5px;
  padding-top: 5px;
}

.img{
    width: 1350px;
    height: 100%;
    opacity: 0.8;
    filter:alpha(opacity=40);
}

img:hover{
    opacity: 0.7;
    filter:alpha(opacity=40);
}
#menu{
    width: auto;
    height: 50px;
}
.menu-list{
    background: #4682B4;
    width: 130px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    float: left;
    
}
.menu-list:hover{
    background: #0000CA;
    color: #FFF;
    cursor: pointer;
}
#home-content{
    width: 1324px;
    height: 100%;
}

.project-isi{
    width: auto;
    height: 600px;
    margin-left: 10px;
    margin-right: 50px;
    font-size: 24px;
    font: 15px Arial,Helvetica,sans-serif;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 50px;
}

#footer{
    clear: both;
    margin-top: 15px;
}
.isi-footer{
    width: auto;
    height: 15px;
    padding-left: 600px;
    text-align: left;
    line-height: 40px;
}

#content{
    background: F8F8F8;
}
#sidebar{
    background: transparent;
}
.wrapper{
    overflow: hidden;
}